body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  .action-buttons button {
    margin-right: 5px;
  }
  .action-buttons button:nth-child(1) {
    width: 34%;
  }
  
  .action-buttons button:nth-child(2) {
    background-color: #ffc107;
  }
  
  .action-buttons button:nth-child(2):hover {
    background-color: #e0a800;
  }
  
  .action-buttons button:nth-child(3) {
    background-color: #ff021c;
  }
  
  .action-buttons button:nth-child(3):hover {
    background-color: #c82333;
  }
  